<div class="container ">
    <form class="mb-3 m-5 p-5" (ngSubmit)= "searchGithubRepos()" #e="ngForm">
        
        <input type="text" class="form-control search" ngModel  name="search"  #search="ngModel"
            placeholder="Enter Github Repo to search..." required >
        <p class="text-danger error-block" ></p>
        <div class=" mt-5 text-center">
            <button type="submit" class="repo"> Search Repo </button>
        </div>
    </form>
</div>
<div  *ngFor="let repo of Info ">
    <p>{{repo?.name}}</p>
    <p> {{repo?.description}}</p>
    <p>{{repo?.language}}</p>
    <p> {{repo?.html_url}}</p>
    <p>{{repo?.forks}}</p>
</div>
