<div class="container ">
    <form class="mb-3 m-5 p-5" (ngSubmit)= "searchGithubRepos()" #e="ngForm">
        
        <input type="text" class="form-control search" ngModel  name="search"  #search="ngModel"
            placeholder="Enter Github Repo to search..." required >
        <p class="text-danger error-block" ></p>
        <div class=" mt-5 text-center">
            <button type="submit" class="repo"> Search Repo </button>
        </div>
    </form>
</div>
<div *ngFor="let repo of Info ">
    {{repo?.name}}
    {{repo?.description}}
    {{repo?.language}}
    {{repo?.html_url}}
    {{repo?.forks}}
</div>
