<nav class="container-fluid navbar navbar-expand-lg navbar-dark">
  <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active">Git Search App</a>
  <div class="nav">
      <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="home" routerLinkActive='active'>Home<span
          ></span></a>
          <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active">Search User</a>
          <a class="nav-item nav-link " routerLink="/repos" routerLinkActive="active">Search Repository</a>
      </div>
  </div>
</nav>