<div class="container" >
    <form class="mb-3 m-5 p-5" (ngSubmit)="searchUser()" #l="ngForm">

        <input type="text" class="form-control search" placeholder="what is your github username..  " ngModel name="diana" #diana="ngModel" required>
        <p class=""></p>
        <div class="mt-5 text-center">
        <button type="submit" class="user">Find User</button>

        </div>
    </form>
</div>
<div class = "card">
<img [src]="prof?.avatar_url" alt="">
<p>name : {{prof?.name}}</p>
<p>following:{{prof?.following}}</p>
<p>followers:{{prof?.followers}}</p>
<p>created_at: {{prof?.created_at | date}}</p>
</div>