<div class="container card"><br>
    <div ><br>
        <div class="">
            <div class="b-text">
                <img [src]="userDetails?.avatar_url" alt="">
            </div>
            
            <div>
                {{userDetails?.login}}
            </div>
            <div>
                {{userDetails?.location}}
            </div>
            <div>
                {{userDetails?.company}}
            </div>
            <div>
                followers {{userd?.followers}}
                following {{username?.following}}
            </div>
            <div>
            </div>
        </div>
    </div><br>
</div>
