
.card{
    margin-bottom: 10px;
    background-color: black;
    border-color: #ffff00;
    border-radius: 10px;
    padding: 2rem;
    color: white;
    
}
img {
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 50%;
  }
.info{
    font-size: 20px;
    padding:70px ;
    line-height: 40px;

 
    

   
}

