.card{
    margin-bottom: 10px;
    background-color: rgb(43, 204, 3);
    border-color: #ffff00;
    border-radius: 10px;
    padding: 2rem;
}
img {
    max-width: 18rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1.8rem;
  }
  #profile {
    background:black;
    color: rgb(248, 246, 246);
    margin-top: 20px;
    padding: 20px;
    margin-left: 13%;
    border-radius: 8px;
    position: relative;
    left: 5%;
    width: 900px;
  }

